{% extends 'base.html' %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>Relojs Biometrico</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="empleados.html">Empleados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="asis.html">Asistencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="calen.html">Calendario</a>
            </li>

            
        </div>
      </div>
    </nav>
    <section class="Reloj">
      <div class="container">
        <div class="row">
          <div class="col" id="container-clock">
            <h1 id="time">00:00:00</h1>
            <p id="date">date</p>
          </div>
        </div>
      </div>
    </section>
    <section class="Ingreso">
        <div class="container">
            <div class="row">
                <div class="col">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">C.I</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                      
                    </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Apellido</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">email</label>
                          <input type="email" class="form-control" id="staticEmail" value="email@gmail.com">
                          
                        </div>
                        <label for="exampleFormControlInput1" class="form-label">Horario : </label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                          <option selected></option>
                          <option value="1">Matutino</option>
                          <option value="2">Nocturnop</option>
                          
                        </select>
                        <label for="exampleFormControlInput1" class="form-label">Genero : </label>
                        <div class="form-check form-check-inline">
                          
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Femenino</label>
                        </div>
                        
                      
                      <div class="mb-3 form-check">
                        
                        <button type="submit" class="btn btn-primary">Registrar</button>
                      </div>
                      
                    </form>
                </div>
                
            </div>
            <script src="clock.js"></script>
            <script
              src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
              crossorigin="anonymous"
            ></script>
  </body>
</html>
{% endblock %}