{% extends 'base.html' %}
{% load static %}
{% block main %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./index.css" />
    <title>Relojs Biometrico</title>
  </head>
  <style>
    #container-clock {
        text-align: center;
    }
    
    #container-clock h1 {
        font-size: 5rem;
        font-weight: 400;
    }
    
    #container-clock p {
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #TituloLista {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
    }
    
    #DatosLista {
        background-color: #f8f9fa;
        /* font-size: 20px; */
        /* text-align: center; */
    }
    
    .ListaSombra {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-style: solid;
        border-width: 2px;
    }
    #Dato {
        /* border-style: solid;
        border-width: 1px; */
    }
    .Reloj {
        margin-top: 30px;
    }
    .Lista {
        margin-top: 30px;
    }
    
    /* INGRESAR HTML */
    
    .Ingreso {
        background-color: #f8f9fa;
        width: 400px;
        display: flex;
        margin: auto;
        border-radius: 30px;
    }
    
    .TituloIngreso {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .Usuario,
    .Contraseña {
        text-align: left;
        margin-top: 10px;
        /* margin-left: 10px; */
    }
    
    #Formulario {
        margin-bottom: 10px;
    }
</style>
  <body>
    <form action="/tarjeta/">
                              
                          <button id="stat-btn " class="btn bg-secondary">Cerrar</button>
                          </form>


    <section class="Reloj">
      <div class="container">
       
        <div class="row">
          <div class="col" id="container-clock">
            <h1 id="time">00:00:00</h1>
            <p id="date">date</p>
          </div>
        </div>
      </div>
    </section>
    <section class="Ingreso">
        <div class="container">
        
            <div class="row">
                <div class="col">
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">C.I</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                      
                    </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Apellido</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">email</label>
                          <input type="email" class="form-control" id="staticEmail" value="email@gmail.com">
                          
                        </div>
                        <label for="exampleFormControlInput1" class="form-label">Horario : </label>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                          <option selected></option>
                          <option value="1">Matutino</option>
                          <option value="2">Nocturno</option>
                          <option value="2">lunch</option>
                          
                        </select>
                        <label for="exampleFormControlInput1" class="form-label">Genero : </label>
                        <div class="form-check form-check-inline">
                          
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">Femenino</label>
                        </div>
                        
                      
                      <div class="modal-footer">
                          

                          <button type="button" class="btn btn-primary">Guardar</button>
                          

                      </div>
                      
                    </form>
                </div>
                
            </div>
            
            <script
              <script>
        const time = document.getElementById("time");
const date = document.getElementById("date");

const monthNames = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

const interval = setInterval(() => {
  const local = new Date();

  let day = local.getDate(),
    month = local.getMonth(),
    year = local.getFullYear();

  time.innerHTML = local.toLocaleTimeString();
  date.innerHTML = `${day} ${monthNames[month]} ${year}`;
}, 1000);
    </script>
            </script>
  </body>
</html>
{% endblock %}