<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ titulo }}</title>
    {% load static %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block headcss %}
    {% endblock %}

</head>
<body style="background: #e9ebee">
<header>
    {% block header %}
        {% include 'header.html' %}
    {% endblock %}
</header>

<main style="margin-top: 1rem" id="contenedor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <ol class="breadcrumb" style="margin-bottom: 4px">
                        <li class="active text-success h5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"/>
                                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                            </svg> Mis Modulos
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% block main %}
      <div class="container-fluid">
       <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-2">
          
          
          <div class="col">
            <div class="card" style="height:15rem"  >
              <img src="{% static 'img/cards/gestion-de-equipos.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
               <div class="card-body text-center">
                <a class="text-decoration-none" href="{% url 'ingresar' %}">
                    <h5 class="card-title text-success">Empleados</h5>
                </a>
                <p class="card-text">Acceso a las opcioones del sistema segun su Rol y Perfil</p>
              </div>
            </div>
          </div>
          {% comment %} <div class="col">
            <div class="card"  style="height:15rem" >
              <img src="{% static 'img/cards/gestion-de-producto.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
               <div class="card-body text-center">
                <h5 class="card-title text-success">Plan de Cuentas</h5>
                <p class="card-text">Estructura del plan de cuentas de los procesos del negocio</p>
              </div>
            </div>
          </div> {% endcomment %}
           <div class="col">
            <div class="card" style="height:15rem"  >
              <img src="{% static 'img/cards/administracion.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
             <div class="card-body text-center">
                <a class="text-decoration-none" href="{% url 'index' %}">
                    <h5 class="card-title text-success">Asistencia</h5>
                </a>
                <p class="card-text">Proceso contables de las operaciones del negocio</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height:15rem" >
              <img src="{% static 'img/cards/calendario.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
             <div class="card-body text-center">
               <a class="text-decoration-none" href="{% url 'calendario' %}">
                    <h5 class="card-title text-success">Calendario</h5>
                </a>
                <p class="card-text">Cartera por cobrar de los clientes que solictan credito</p>
              </div>
            </div>
          </div>
          {% comment %} <div class="col">
            <div class="card" style="height:15rem"  >
              <img src="{% static 'img/cards/gestion-de-equipos.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
              <div class="card-body text-center">
                <h5 class="card-title text-success">Cuentas x Pagar</h5>
                <p class="card-text">Cartera por parar por los credito a los proveedores</p>
              </div>
            </div>
          </div> {% endcomment %}
          
          </div>
          {% comment %} <div class="col">
            <div class="card" style="height:15rem"  >
              <img src="{% static 'img/cards/administracion.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
              <div class="card-body text-center">
                <h5 class="card-title text-success">Ficha de Personal</h5>
                <p class="card-text">Joja de vidad de los empleados de la empresa</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height:15rem" >
              <img src="{% static 'img/cards/administracion-del-dinero.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
             <div class="card-body text-center">
                <h5 class="card-title text-success">Tesoreria</h5>
                <p class="card-text">Pagos a empleados y proveedores de la empresa</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height:15rem"  >
              <img src="{% static 'img/cards/gestion-de-equipos.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
              <div class="card-body text-center">
                <h5 class="card-title text-success">Prestamos</h5>
                <p class="card-text">Prestamos que se otorgan al personal que labora en la empresa</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card"  style="height:15rem" >
             <img src="{% static 'img/cards/gestion-de-producto.png' %}" class="img-fluid  mx-auto d-block" style="width:35%">
             <div class="card-body text-center">
                <h5 class="card-title text-success">Activos Fijos</h5>
                <p class="card-text">Control de los bienes que posee la empresa para sis labores</p>
              </div>
            </div>
          </div> {% endcomment %}

       </div>
      </div>
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

{% block frmodal %}
{% endblock %}

{% block js %}
{% endblock %}

{% block jscript %}
{% endblock %}
</body>
</html>